/**
** Variables, fonts and icons
**/

$text-shadow-color: #000;
$text-color: #FFF;
$content-background-color: #FFF;
$content-min-height: 93.8vh;
// $content-min-height: 100vh;
$content-min-height-ipad: 96vh;
// $content-min-height-ipad: 100vh;
$warp-animation-duration: 1.5s;
$general-transition-duration: 1s;

@font-face {
  font-family: "Aileron Ultra Light";
  src: url('../fonts/AileronUltraLight/aileron-ultralight-webfont.woff2') format('woff2'),
  url('../fonts/AileronUltraLight/aileron-ultralight-webfont.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/FontAwesome/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.btn-send,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  font-style: italic
}

[class^="icon-"], [class*="icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
  content: "\f003";
}
.icon-user:before {
  content: "\f007";
}
.icon-search-plus:before {
  content: "\f00e";
}
.icon-search-minus:before {
  content: "\f010";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-file-pdf-o:before {
  content: "\f1c1";
}
.icon-newspaper-o:before {
  content: "\f1ea";
}
.icon-facebook-official:before {
  content: "\f230";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}

/**
** General
**/

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  padding-top: 52px;
  box-sizing: border-box;
  font-family: "Aileron Ultra Light", "Helvetica", "Arial";
  font-weight: 100;
}

.content {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: $content-min-height;
  color: $text-color;
  text-shadow: 1px 1px $text-shadow-color;
  background-color: $content-background-color;
  overflow: hidden;
}

.section-header {
  text-align: center;
  margin: 20px 0;
}

/* Centers the content of a row, vertically */
.center-vertical-row {
  margin: 5% auto;
}

/* Centers the content of a row, horizontally */
.row-center {
  text-align:center;
}

.col-center {
  display:inline-block;
  float:none;
}

@mixin background-cover() {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@mixin transition-all() {
  transition: all $general-transition-duration;
}

@mixin general-text() {
  color: $text-color;
  text-shadow: 1px 1px $text-shadow-color;
}

@mixin inverted-text() {
  color: $text-shadow-color;
  text-shadow: 1px 1px $text-color;
}

@mixin cursor() {
  cursor: hand;
  cursor: pointer;
}

.center-col {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**
** Navbar
**/

.navbar-container, .navbar-header, .navbar-nav {
  margin: 0;
  color: $text-shadow-color;
  background-color: $text-color;
  border: none;
  text-align: center;
}

.navbar, .navbar-brand {
  height: 52px;
  margin-top: 0;
  border: none;
  z-index: 6;
}

.navbar-collapse.collapse, .navbar-collapse.collapsing {
  width: 100%;
  margin: 0;
}

.navbar-default .navbar-toggle {
  border: none;
  background-color: $text-color;
  &:hover {
    background-color: $text-color;
  }
  &:active {
    background-color: $text-color;
  }
  &:focus {
    background-color: $text-color;
  }
}

/**
** Warp
** The fixed layer that appears when you click on a nav-link
**/

.warp {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 8;
  background-color: #fff;
  animation-name: changeColor;
  animation-duration: $warp-animation-duration;
}

@keyframes changeColor {
  0% { background-color: #FFF; }
  20% { background-color: #969496; }
  40% { background-color: #686668; }
  60% { background-color: #3A383A; }
  80% { background-color: #171517; }
  100% { background-color: #FFF; }
}

.warp-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.warp-text {
  stroke-dasharray: 100%;
  fill: none;
  stroke-dashoffset: 100%;
  text-shadow: none;
  animation: draw 1.5s forwards;
}

@keyframes draw {
  100% {
    stroke-dashoffset: 30%;
    fill: $text-color;
  }
}

/**
** Main
**/

.img-main {
    opacity: 0;
    width: 50vh;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-play-state: paused;
}

@keyframes move {
  0% {
    transform: translateY(60px) scale(.1)
  }

  40% {
    transform: translateY(-60px)
  }
}



/**
** About
**/

#about {
  @include inverted-text();
}

.direction-col {
  position: relative;
  height: 60vh;
}

.direction-col > .move-right {
  font-size: 2em;
  @include cursor();
  position: absolute;
  top: 45%;
  left: 0%;
  transition: all 0.3s;
  &:hover {
    color: grey;
  }
}

.direction-col > .move-left {
  font-size: 2em;
  @include cursor();
  position: absolute;
  top: 45%;
  right: 0%;
  transition: all 0.3s;
  &:hover {
    color: grey;
  }
}

.bio-two, .bio-three, .bio-four {
  display: none;
}

.img-bio {
  height: 60vh;
  width: 100%;
  border-radius: 5px;
  @include transition-all();
  &:hover {
    transform: scale(1.05);
  }
}

.title {
  margin: 20px 0;
}

.pager .about-pager {
  color: #000;
  text-shadow: 1px 1px #fff;
  background-color: #fff;
  border-color: #000;
  width: 100px;
  transition-property: border;
  transition-duration: .3s;

  &:hover {
    border-color: #9e9e9e;
    background-color: #fff
  }
  &:active {
    border-color: #9e9e9e;
    background-color: #fff
  }
  &:focus {
    border-color: #9e9e9e;
    background-color: #fff
  }
}

.cv-row {
  display: none;
}

.cv-row, .bio-row {
  text-align: justify;
}

.col-overflow {
  overflow: scroll;
  height: 65vh;
}

.info-cv th {
  text-align: center;
}

.th-group {
  @include general-text();
  background: #4ECDC4;
}

.th-solo {
  @include general-text();
  background: #ff6b6b;
}

.th-awards {
  @include general-text();
  background: #ffe66d;
}


/**
** Art
**/

#art {
  @include inverted-text();
}

.img-modal {
  width: 100%;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    transform: scale(0.2);
  }

  25% {
    transform: rotate(-8deg);
  }

  50% {
    transform: rotate(4deg);
  }

  80% {
    transform: rotate(-3deg);
  }
}

// Vertical aligns modals
.modal {
  text-align: center;
}

.modal::before {
  content: "";
  display: inline-block;
  height: 100%;
  margin-right: -4px;
  vertical-align: middle;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-header, .modal-footer, .modal-content {
  border: none;
}

.modal-header {
  position: fixed;
  top: 0;
  left: -1%;
  width: 100vw;
  z-index: 7;
}

.modal-dialog {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw
}

.modal-body {
    border-radius: 0;
    height: 100vh;
    width: 101vw;
    padding: 0
}


.close {
  top: 0;
  color: #fff;
  text-shadow: 0 -1px #000;
  font-size: 3em;
  font-weight: 100;
  left: 50%;
  opacity: 1;
  outline: none;
  &:hover {
    @include general-text();
    opacity: 1;
  }
}

.modal-title {
  text-align: center;
}

.modal-content {
  background: none;
  box-shadow: none;
  max-height: 100%;
  max-width: 100%;
  @include general-text();
}

.categories {
    display: flex;
    height: 80vh;
    align-items: center;
    flex-flow: row wrap
}

.category {
  width: 33.33%;
  height: 400px;
  transition-property: all;
  transition-duration: .3s;
  @include cursor();
}

.img-category {
  padding: 0px;
  width: 80%;
  border: 1px solid #fff;
  border-radius: 5px;
  height: 100%;
  margin: 10px auto 0;
}

[data-category="sculptures"] {
  &:hover {
    text-shadow: -21px -6px 10px #4ECDC4, 19px 10px 20px #4ECDC4, -6px 6px 20px #4ECDC4;
  }
}

[data-category="paintings"] {
  &:hover {
    text-shadow: -34px -12px 22px #ff6b6b, 19px -4px 20px #ff6b6b, -24px 9px 15px #ff6b6b;
  }
}

[data-category="conos"] {
  &:hover {
    text-shadow: 28px -12px 20px #ffe66d, -41px 4px 20px #ffe66d, -6px 6px 20px #ffe66d;
  }
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-bottom: 100px;
}

.img-container {
  position: relative;
  opacity: 0;
  width: 33.33%;
  transition: opacity 3s;
  overflow: hidden;
  transition: transform 0.3s;
  &:hover + .zoom {
    opacity: 1;
  }
  // ALERTA No se si esto este bien
  // &:hover + img {
  //   transform: scale(1.3);
  // }
}

.img-container img {
  // width: 100%;
  // height: 100%;
  width: 142%;
  height: 100%;
  position: relative;
  left: -20%;
  @include cursor();
  transition: all 0.3s;
  // transform: scale(1.2);
  &:hover {
    transform: scale(1.3);
  }

  // &:hover + .zoom {
  //   opacity: 1;
  // }
}

.zoom {

  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 100;
  font-size: 2em;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  color: #fff;
  text-shadow: none;

  &:hover {
    @include cursor();
    transition: all 0.3s;
  }
}

.gallery-row {
  display: none;
}

.pager .back {
  color: #000;
  text-shadow: 1px 1px #fff;
  background-color: #fff;
  border-color: #000;
  width: 100px;
  transition-property: border;
  transition-duration: .3s;

  &:hover {
    border-color: #9e9e9e;
    background-color: #fff
  }
  &:active {
    border-color: #9e9e9e;
    background-color: #fff
  }
  &:focus {
    border-color: #9e9e9e;
    background-color: #fff
  }
}

.selected-category {
  display: inline-block;
  margin-left: 40px;
}


/**
** Contact Me
**/

#contact {
  @include inverted-text();
}

.img-contact {
  height: 305px;
  width: 100%;
  border-radius: 5px;
  @include transition-all();
  &:hover {
    transform: scale(1.05);
  }
}

.form-group {
  margin-bottom: 25px;
}

#email, #message {
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  color: $text-shadow-color;
  border-radius: 20px;
}

#email {
  height: auto;
}

#message {
  height: 220px;
}

.form-control:focus {
  border-color: #000;
  box-shadow: none;
}

#contact ::placeholder {
  font-size: 1.2em;
  color: $text-shadow-color;
}

.counter {
  position: absolute;
  right: 5%;
}

.btn-send {
  border-radius: 15px;
  background-color: #fff;
  border-color: #000;
  width: 100px;
  transition-property: border;
  transition-duration: .3s;
  outline: none;
  padding: 0;
  height: 30px;
  transition: all .3s;

  &:hover {
    border-color: #9e9e9e;
    background-color: #fff;
    outline: none;
  }
  &:active {
    border-color: #9e9e9e;
    background-color: #fff;
    outline: none;
  }
    &:focus {
      border-color: #9e9e9e;
      background-color: #fff;
      outline: none;
    }
      &:visited {
        outline: none;
      }
      &:focus:active {
        outline: none;
      }
    }

    .mailResponse {
        position: absolute;
        top: 100%;
        left: 50%;
        display: none;
        transform: translate(-50%, -50%)
    }

    .social-icons {
      text-align: center;
      font-size: 1.2em;
      margin: 40px 0px;
      padding-left: 10px;
    }

    .social-link {
      margin: 0px 10px;
    }

    .social-link, .social-link > [class^="icon"] {
      transition: all 0.3s;
      @include inverted-text();
      text-decoration: none;
      font-size: 1.3em;
      &:hover {
        text-decoration: none;
      }
      &:active {
        text-decoration: none;
        @include inverted-text();
      }
      &:focus {
        text-decoration: none;
      }
    }

    .icon-instagram {
      &:hover {
        color: #7A28CB;
      }
    }

    .icon-facebook-official{
      &:hover {
        color: #1C77C3;
      }
    }

    .icon-youtube {
      &:hover {
        color: #ED254E;
      }
    }

    .img-contact {
        cursor: hand;
        cursor: pointer
    }

    /**
    ** Footer
    **/

    .footer-container {
      font-size: 1em;
      color: $text-shadow-color;
      text-align: center;
      background: $text-color;
      height: auto;
    }

    .footer-text {
      font-size: 1.2em;
    }

    .creator-link {
      position: relative;
      top: 4px;
      left: 4px;
    }

    .creator-link, .creator-link > [class^='icon'] {
      @include inverted-text();
      transition: all 0.3s;
      text-decoration: none;
      font-size: 1.2em;
      &:hover {
        text-decoration: none;
      }
      &:active {
        text-decoration: none;
        @include general-text();
      }
      &:focus {
        text-decoration: none;
      }
    }

    .link-restart {
      color: black;
      text-decoration: none;
      &:hover {
        color: black;
        text-decoration: none;
      }
      &:visited {
        color: black;
        text-decoration: none;
      }
    }

    .icon-linkedin {
      &:hover {
        color: #0077b5;
      }
    }

    /**
    ** Hacks
    **/

    // Solves the 'yellow autofill background' problem with Chrome
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-transition: background 9999s ease-out;
      -webkit-transition-delay: 9999s;
      border-color: #ccc;

    }

    .isMobile {
      opacity: 0;
    }

    /**
    ** Queries
    **/

    @media screen and (min-width:768px) and (max-width:900px) {
        .img-container {
            height: 250px
        }
    }

    @media screen and (min-width:460px) and (max-width:900px) {
        .img-category {
            height: 80%
        }
        .category {
            height: 250px
        }
    }

    @media screen and (min-width:900px) and (max-width:1100px) {
        .img-container {
            height: 300px
        }
    }

    @media screen and (min-width:1100px) {
        .img-container {
            height: 400px
        }
    }

    @media screen and (max-width:768px) {
        .navbar-brand {
            margin-top: 4px;
            margin-left: 10px
        }
        .navbar-toggle {
            margin-top: 9px
        }
        .img-bio {
            width: 50%;
            height: auto;
            margin: 0 25% 10px
        }
        .img-contact {
            margin-top: 30px
        }
        .title {
            font-size: .9em;
            height: 0
        }
        .direction-col>.move-left,
        .direction-col>.move-right {
            top: 0
        }
        .img-container {
            height: 200px
        }
        .isMobile {
            opacity: 1
        }
    }

    @media screen and (max-width:460px) {
        .img-container {
            height: 150px
        }
        .img-category {
            height: 60%
        }
        .category {
            height: 250px
        }
    }


    // Centers the link .navbar-brand on mobiles only
    // @media screen and (max-width: 768px) {
    //   .navbar-brand {
    //     margin-top: 4px;
    //     margin-left: 10px;
    //   }
    //   .navbar-toggle {
    //     margin-top: 9px;
    //   }
    //   .img-bio {
    //     width: 50%;
    //     height: auto;
    //     margin: 0px 25% 10px 25%;
    //   }
    //   .img-contact {
    //     margin-top: 30px;
    //   }
    //
    //   .title {
    //     font-size: 0.9em;
    //     height: 0vh;
    //   }
    //
    //   .direction-col > .move-right, .direction-col > .move-left {
    //     top: 0%;
    //   }
    //
    //   /* Art */
    //   .img-modal {
    //     max-height: 100%;
    //     max-width: 100%;
    //   }
    //
    //   .img-container {
    //     width: 33%;
    //     // height: 100px;
    //   }
    //
    //   /* Hacks */
    //   .isMobile {
    //     opacity: 1;
    //   }
    //
    // }



    // @media screen and (max-width: 460px) {
    //   .img-container {
    //     width: 33%;
    //     height: 150px;
    //   }
    //
    // }
    //
    // /* ----------- iPad ----------- */
    // /* Portrait and Landscape */
    // @media only screen
    // and (min-device-width : 768px)
    // and (max-device-width : 1024px)  {
    //   .img-container {
    //     width: 33%;
    //   }
    // }
    //
    // /* ----------- iPad Pro ----------- */
    // /* Portrait and Landscape */
    // @media only screen
    // and (min-device-width: 1024px)
    // and (max-device-width: 1366px)
    // and (-webkit-min-device-pixel-ratio: 1.5) {
    //   .img-container {
    //     width: 33%;
    //     height: 400px;
    //   }
    // }
